<div id="js-new-customer-form-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add New Customer</h4>

    <div class="field">
      <input type="text" class="js-customer-name-input" placeholder="Customer Name" maxlength="250">
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn-flat green accent-4
 js-add-new-customer-btn" disabled>
      Add
    </button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">
      Close
    </button>
  </div>
</div>
