<% content_for :modals do %>
  <%= render 'add_customer_modal' %>
<% end %>

<div class="row">
  <div class="col s12">
    <button type="button" class="waves-effect waves-light btn js-new-customer-form-modal-btn">
      <i class="material-icons left">add</i> Add Customer
    </button>
  </div>
  <div class="col s12">
    <table class="striped centered responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Created At</th>
        </tr>
      </thead>

      <tbody class="js-customer-list">
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.name %></td>
            <td><%= customer.created_at.strftime('%d %B %Y') %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    'use strict';

    // Button Modal handler
    $('.js-new-customer-form-modal-btn').on('click', function() {
      $('#js-new-customer-form-modal').modal('open');
    });

    $('#js-new-customer-form-modal').modal({
      dismissible: false,
      // When modal is opened, focus cursor to the input field
      ready: function() { $('.js-customer-name-input').focus(); },
      complete: function() {
        // Remove value in the input field when the modal was closed
        $('.js-customer-name-input').val('');
        // Disabled add new customer button
        $('.js-add-new-customer-btn').attr('disabled', true);
      }
    });

    // Add customer name input handler
    $('.js-customer-name-input').on('keyup', function() {
      var $customerName = $(this).val();
      var $addNewCustomerBtn = $('.js-add-new-customer-btn');

      if ($customerName === '') {
        $addNewCustomerBtn.attr('disabled', true);
      } else {
        $addNewCustomerBtn.attr('disabled', false);
      }
    });
    // End of Add customer name input handler

    // Add customer handler
    $('.js-add-new-customer-btn').on('click', function() {
      var $this = $(this);
      var $customerNameInput = $('.js-customer-name-input');
      var $customerName = $customerNameInput.val();
      var params = { name: $customerName };

      if ($customerName === '') {
        swal('Invalid Input', 'Customer Name cannot be blank', 'error');
      }

      $.ajax({
        type: 'POST',
        url: '/customers',
        data: { customer: params },
        dataType: 'json',
        beforeSend: function() {
          $this.html('Adding...');
          $this.attr('disabled', true);
        },
        success: function (_customer) {
          // Reset value on customer name input
          $customerNameInput.val('');
          // Disable add new customer button
          $this.attr('disabled', true);

          // Append new customer data to the table body
          $('.js-customer-list').prepend(
            "<tr>" +
            "<td>" + 
            _customer.name + 
            "</td>" +
            "<td>" +
            moment(_customer.created_at).format('DD MMMM YYYY') +
            "</td>" +
            "</tr>"
          )

          // Show success notification
          swal('Updated', 'Customer successfully added', 'success');
        },
        error: function (jqXhr) {
          // Show error notification
          swal('Invalid Input', jqXhr.responseJSON.errors[0], 'error');
          // Enable add new customer button
          $this.attr('disabled', false);
        }
      }).always(function() {
        // Revert text on add new customer button
        $this.html('Add');
      });
    });
    // End of Add customer handler
  });
</script>
