<div id="js-new-design-service-price-form-modal" class="modal modal-fixed-footer">
  <div class="modal-content" style="font-size: 2em;">
    <h4>Add New Design Service</h4>

    <div class="input-field">
      <select name="clothes-size-id" class="js-clothes-size-input">
        <option value="" disabled selected>Choose your option</option>
        <% ClothesSize.enabled.each do |clothes_size| %>
          <option value="<%= clothes_size.id %>"><%= clothes_size.name %></option>
        <% end %>
      </select>
      <label>Clothes Size</label>
    </div>
    <div class="field">
      <div class="switch">
        <label>
          Non-Colored
          <input type="checkbox" class="js-switcher-is-colored-input">
          <span class="lever"></span>
          Colored
        </label>
      </div>
    </div>
    <div class="field">
      <div class="switch">
        <label>
          Not Long-Sleeved
          <input type="checkbox" class="js-switcher-is-long-sleeved-input">
          <span class="lever"></span>
          Long-Sleeved
        </label>
      </div>
    </div>
    <div class="field">
      <div class="switch">
        <label>
          Design not on Front Side
          <input type="checkbox" class="js-switcher-is-front-side-input" checked>
          <span class="lever"></span>
          Design on Front Side
        </label>
      </div>
    </div>
    <div class="field">
      <div class="switch">
        <label>
          Design not on Back Side
          <input type="checkbox" class="js-switcher-is-back-side-input">
          <span class="lever"></span>
          Design on Back Side
        </label>
      </div>
    </div>
    <div class="field">
      <input type="number" class="js-capital-price-input" placeholder="Capital Price" min="0" max="10000000">
      <span class="js-capital-price-text">IDR</span>
    </div>
    <div class="field">
      <input type="number" class="js-selling-price-input" placeholder="Selling Price" min="0" max="10000000">
      <span class="js-selling-price-text">IDR</span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn-flat green accent-4
 js-add-new-design-service-price-btn">
      Add
    </button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">
      Close
    </button>
  </div>
</div>
