<% content_for :modals do %>
  <%= render 'add_design_service_price_modal' %>
<% end %>

<div class="row">
  <div class="col s12">
    <button type="button" class="waves-effect waves-light btn js-new-design-service-price-form-modal-btn">
      <i class="material-icons left">add</i> Add New Design Service
    </button>
  </div>
  <div class="col s12">
    <table class="bordered centered responsive-table">
      <thead>
        <tr>
          <th colspan="4">Service Detail</th>
          <th rowspan="2">Capital Price (IDR)</th>
          <th rowspan="2">Selling Price (IDR)</th>
          <th rowspan="2">Created By</th>
          <th rowspan="2">Updated By</th>
          <th rowspan="2">Action</th>
        </tr>
        <tr>
          <th>Size</th>
          <th>Colored</th>
          <th>Long-Sleeved</th>
          <th>Side(s)</th>
        </tr>
      </thead>

      <tbody class="js-design-service-price-list">
        <% @design_service_price_list.each do |design_service_price| %>
          <tr>
            <td><%= design_service_price.clothes_size_name %></td>
            <td class="center-align">
              <% if design_service_price.is_colored %>
                <i class="material-icons green">check</i>
              <% end %>
            </td>
            <td class="center-align">
              <% if design_service_price.is_long_sleeved %>
                <i class="material-icons green">check</i>
              <% end %>
            </td>
            <td>
              <% if design_service_price.is_front_side && design_service_price.is_back_side %>
                2 Sides
              <% elsif design_service_price.is_front_side %>
                Front (1 Side)
              <% elsif design_service_price.is_back_side %>
                Back (1 Side)
              <% end %>
            </td>
            <td><%= display_price(design_service_price.capital_price) %></td>
            <td><%= display_price(design_service_price.selling_price) %></td>
            <td><%= design_service_price.created_by_username %></td>
            <td><%= design_service_price.updated_by_username %></td>
            <td><a href="javascript:void(0);" class="js-design-service-edit-action" data-id="<%= design_service_price.id %>"><i class="material-icons" title="edit">edit</i></a></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  var resetDesignServicePriceFormValues = function() {
    $('.js-switcher-is-colored-input').prop('checked', false);
    $('.js-switcher-is-long-sleeved-input').prop('checked', false);
    $('.js-switcher-is-front-side-input').prop('checked', true);
    $('.js-switcher-is-back-side-input').prop('checked', false);
    $('.js-capital-price-input').val('');
    $('.js-selling-price-input').val('');
    $('.js-clothes-size-input').val('');
    $('select').material_select();

    // Reset text
    $('.js-capital-price-text').text('');
    $('.js-selling-price-text').text('');
  };

  $(document).ready(function() {
    'use strict';

    // Button Modal handler
    $('.js-new-design-service-price-form-modal-btn').on('click', function() {
      $('#js-new-design-service-price-form-modal').modal('open');
    });

    $('.js-capital-price-input').on('keyup', function() {
      var $this = $(this);
      var $priceText = numeral($this.val()).format('0,0');

      if ($priceText == '0') { $priceText = ''; }

      $('.js-capital-price-text').text('IDR' + $priceText);
    });

    $('.js-selling-price-input').on('keyup', function() {
      var $this = $(this);
      var $priceText = numeral($this.val()).format('0,0');

      if ($priceText == '0') { $priceText = ''; }

      $('.js-selling-price-text').text('IDR' + $priceText);
    });

    $('#js-new-design-service-price-form-modal').modal({
      dismissible: false,
      // When modal is opened, focus cursor to capital price input field
      ready: function() { $('.js-capital-price-input').focus(); },
      complete: function() {
        // When modal is closed, reset the values to the default values
        resetDesignServicePriceFormValues();
        // Set button text to "Add"
        $('.js-add-new-design-service-price-btn').text('Add');
        // Disabled add new design service price button
        $('.js-add-new-design-service-price-btn').attr('disabled', true);
      }
    });

    // Add new design service price handler
    $('.js-add-new-design-service-price-btn').on('click', function() {
      var $this = $(this);
      var $designServicePriceId = $('.js-add-new-design-service-price-btn').data('id');
      var $clothesSizeId = $("select[name='clothes-size-id']").val();
      var $capitalPriceValue = $('.js-capital-price-input').val();
      var $sellingPriceValue = $('.js-selling-price-input').val();
      var $isColored = $('.js-switcher-is-colored-input').is(':checked');
      var $isLongSleeved = $('.js-switcher-is-long-sleeved-input').is(':checked');
      var $isFrontSide = $('.js-switcher-is-front-side-input').is(':checked');
      var $isBackSide = $('.js-switcher-is-back-side-input').is(':checked');
      var params = {
        id: $designServicePriceId,
        clothes_size_id: $clothesSizeId,
        capital_price: $capitalPriceValue,
        selling_price: $sellingPriceValue,
        is_colored: $isColored,
        is_long_sleeved: $isLongSleeved,
        is_front_side: $isFrontSide,
        is_back_side: $isBackSide
      };
      var requestType = '';
      var url = '';
      var buttonTextAnimation = '';

      if ($designServicePriceId) {
        requestType = 'PUT';
        url = '/design_service_price_lists/' + $designServicePriceId + '.json';
        buttonTextAnimation = 'Updating...';
      } else {
        requestType = 'POST';
        url = '/design_service_price_lists.json';
        buttonTextAnimation = 'Adding...';
      }

      if (!$clothesSizeId) {
        return swal('Invalid Input', 'Clothes Size cannot be blank', 'error');
      } else if (!$capitalPriceValue) {
        return swal('Invalid Input', 'Capital Price cannot be blank', 'error');
      } else if (!$sellingPriceValue) {
        return swal('Invalid Input', 'Selling Price cannot be blank', 'error');
      }

      $.ajax({
        type: requestType,
        url: url,
        data: { design_service_price: params },
        beforeSend: function() {
          $this.html(buttonTextAnimation);
          $this.attr('disabled', true);
        },
        success: function (_designServicePrice) {
          if ($designServicePriceId) {
            window.location.reload();
          }
          // Reset values when success
          resetDesignServicePriceFormValues();
          var isColoredValue = '';
          var isLongSleevedValue = '';

          if (_designServicePrice.is_colored) {
            isColoredValue = "<i class='material-icons left green'>check</i>";
          }

          if (_designServicePrice.is_long_sleeved) {
            isLongSleevedValue = "<i class='material-icons left green'>check</i>";
          }

          if (_designServicePrice.is_front_side && _designServicePrice.is_back_side) {
            var sidesValue = '2 Sides';
          } else if (_designServicePrice.is_front_side) {
            var sidesValue = 'Front (1 Side)';
          } else if (_designServicePrice.is_back_side) {
            var sidesValue = 'Back (1 Side)';
          }

          // Append new design service price data to the table body
          $('.js-design-service-price-list').append(
            "<tr>" +
              "<td>" + _designServicePrice.clothes_size_name + "</td>" +
              "<td class='center-align'>" + isColoredValue + "</td>" +
              "<td class='center-align'>" + isLongSleevedValue + "</td>" +
              "<td>" + sidesValue + "</td>" +
              "<td>" +
                numeral(_designServicePrice.capital_price).format('0,0') +
              "</td>" +
              "<td>" +
                numeral(_designServicePrice.selling_price).format('0,0') +
              "</td>" +
              "<td>" + _designServicePrice.created_by_username + "</td>" +
              "<td>" + _designServicePrice.updated_by_username + "</td>" +
              "<td>" + 
                "<a href='javascript:void(0);' class='js-design-service-edit-action' data-id='" + _designServicePrice.id + '>' +
                  "<i class='material-icons' title='edit'>edit</i>" +
                "</a>" +
              "</td>" +
            "</tr>"
          );

          // Close modal
          $('#js-new-design-service-price-form-modal').modal('close');

          // Show success notification
          swal('Success', 'Design Service Price successfully added', 'success');
        },
        error: function (jqXhr) {
          // Show error notification
          swal('Invalid Input', jqXhr.responseJSON.errors[0], 'error');
        }
      }).always(function() {
        // Revert text on add new design service price button
        $this.html('Add');
        // Enable Add button
        $this.attr('disabled', false);
      });
    });
    // End of Add design service price handler

    // Edit design service price handler
    $('.js-design-service-edit-action').on('click', function() {
      var $designServiceId = $(this).data('id');
      var url = '/design_service_price_lists/' + $designServiceId + '.json';

      // Show form modal
      $.getJSON(url, function(_designServicePrice) {
        // Change button text from "Add" to "Update"
        $('.js-add-new-design-service-price-btn').text('Update');
        $('.js-add-new-design-service-price-btn').data('id', $designServiceId);
        $('.js-add-new-design-service-price-btn').prop('disabled', false);
        $('#js-new-design-service-price-form-modal').modal('open');
        $("select[name='clothes-size-id']").val(_designServicePrice.clothes_size_id);
        $('.js-capital-price-input').val(Number(_designServicePrice.capital_price));
        $('.js-selling-price-input').val(Number(_designServicePrice.selling_price));
        $('.js-switcher-is-colored-input').prop('checked', _designServicePrice.is_colored);
        $('.js-switcher-is-long-sleeved-input').prop('checked', _designServicePrice.is_long_sleeved);
        $('.js-switcher-is-front-side-input').prop('checked', _designServicePrice.is_front_side);
        $('.js-switcher-is-back-side-input').prop('checked', _designServicePrice.is_back_side);
        $('select').material_select();

        $('.js-capital-price-text').text(
          'IDR' + numeral(_designServicePrice.capital_price).format('0,0')
        );
        $('.js-selling-price-text').text(
          'IDR' + numeral(_designServicePrice.selling_price).format('0,0')
        );
      });
    });
    // End of Edit design service price handler
  });
</script>
