<div id="js-new-sale-form-modal" class="modal modal-fixed-footer">
  <div class="modal-content" style="font-size: 2em;">
    <h4>Add New Sale</h4>

    <div class="input-field">
      <select name="customer-id">
        <option value="" disabled selected>Choose your option</option>
        <% Customer.all.each do |customer| %>
          <option value="<%= customer.id %>"><%= customer.name %></option>
        <% end %>
      </select>
      <label>Customer</label>
    </div>
    <div class="input-field">
      <select name="design-service-price-list-id" class="js-design-service-price-list-input">
        <option value="" disabled selected>Choose your option</option>
        <% DesignServicePriceList.includes(:clothes_size).enabled.each do |service| %>
          <option value="<%= service.id %>"><%= service.label %></option>
        <% end %>
      </select>
      <label>Design Service</label>
    </div>
    <div class="row">
      <div class="col s6">Size</div>
      <div class="col s6 js-clothes-size-name-detail"></div>
    </div>
    <div class="row">
      <div class="col s6">Colored</div>
      <div class="col s6"><i class="material-icons green js-is-colored-detail"></i></div>
    </div>
    <div class="row">
      <div class="col s6">Long-Sleeved</div>
      <div class="col s6"><i class="material-icons green js-is-long-sleeved-detail"></i></div>
    </div>
    <div class="row">
      <div class="col s6">Side(s)</div>
      <div class="col s6 js-sides-detail"></div>
    </div>
    <div class="row">
      <div class="col s6">Capital Price</div>
      <div class="col s6 js-capital-price-detail"></div>
    </div>
    <div class="row">
      <div class="col s6">Selling Price</div>
      <div class="col s6 js-selling-price-detail"></div>
    </div>
    <div class="field">
      <input type="number" class="js-quantity-input" placeholder="Quantity" min="1" max="1000">
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn-flat green accent-4 js-add-new-sale-btn">
      Add
    </button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">
      Close
    </button>
  </div>
</div>
