<% content_for :modals do %>
  <%= render 'add_sale_modal' %>
<% end %>

<div class="row">
  <div class="col s12">
    <button type="button" class="waves-effect waves-light btn js-new-sale-form-modal-btn">
      <i class="material-icons left">add</i> Add New Sale
    </button>
  </div>
  <div class="col s12">
    <table class="bordered centered responsive-table">
      <thead>
        <tr>
          <th colspan="4">Service Detail</th>
          <th rowspan="2">Customer</th>
          <th>Capital Price (IDR)</th>
          <th>Selling Price (IDR)</th>
          <th rowspan="2">Quantity</th>
          <th>Profit (IDR)</th>
          <th>Created At</th>
        </tr>
        <tr>
          <th>Size</th>
          <th>Colored</th>
          <th>Long-Sleeved</th>
          <th>Side(s)</th>
          <th>(IDR)</th>
          <th>(IDR)</th>
          <th>(IDR)</th>
          <th>Created By</th>
        </tr>
      </thead>

      <tbody class="js-sale-list">
        <% @sales.each do |sale| %>
          <tr>
            <td rowspan="2"><%= sale.clothes_size_name %></td>
            <td rowspan="2" class="center-align">
              <% if sale.is_colored %>
                <i class="material-icons green">check</i>
              <% end %>
            </td>
            <td rowspan="2" class="center-align">
              <% if sale.is_long_sleeved %>
                <i class="material-icons green">check</i>
              <% end %>
            </td>
            <td rowspan="2">
              <% if sale.is_front_side && sale.is_back_side %>
                2 Sides
              <% elsif sale.is_front_side %>
                Front (1 Side)
              <% elsif sale.is_back_side %>
                Back (1 Side)
              <% end %>
            </td>
            <td rowspan="2"><%= sale.customer_name %></td>
            <td rowspan="2"><%= display_price(sale.capital_price) %></td>
            <td rowspan="2"><%= display_price(sale.selling_price) %></td>
            <td rowspan="2"><%= sale.quantity %></td>
            <td rowspan="2">
              <%= display_price((sale.selling_price - sale.capital_price) * sale.quantity) %>
            </td>
            <td><%= sale.created_at.strftime('%e %B %Y') %></td>
          </tr>
          <tr><td><%= sale.created_by_username %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col s12 center-align">
    <%= paginate @sales %>
  </div>
</div>



<script type="text/javascript" charset="utf-8">
  var resetNewSaleFormInputs = function() {
    $("select[name='customer-id']").val('');
    $("select[name='customer-id']").material_select();
    $("select[name='design-service-price-list-id']").val('');
    $("select[name='design-service-price-list-id']").material_select();
    $('.js-clothes-size-name-detail').text('');
    $('.js-is-colored-detail').text('');
    $('.js-is-long-sleeved-detail').text('');
    $('.js-sides-detail').text('');
    $('.js-capital-price-detail').text('');
    $('.js-selling-price-detail').text('');
    $('.js-quantity-input').val('');
  };

  $(document).ready(function() {
    'use strict';

    // Button Modal handler
    $('.js-new-sale-form-modal-btn').on('click', function() {
      $('#js-new-sale-form-modal').modal('open');
    });

    $('.js-design-service-price-list-input').on('change', function() {
      var url = '/design_service_price_lists/' + $(this).val();

      $.getJSON(url, function (_designServicePrice) {
        var isColoredText = '';
        var isLongSleevedText = '';
        var sidesDetailText = '';

        if (_designServicePrice.is_colored) {
          isColoredText = 'check';
        }

        if (_designServicePrice.is_long_sleeved) {
          isLongSleevedText = 'check';
        }

        if (_designServicePrice.is_front_side && _designServicePrice.is_back_side) {
          sidesDetailText = '2 Sides';
        } else if (_designServicePrice.is_front_side) {
          sidesDetailText = '1 Side (Front)';
        } else if (_designServicePrice.is_back_side) {
          sidesDetailText = '1 Side (Back)';
        }

        $('.js-clothes-size-name-detail').text(_designServicePrice.clothes_size_name);
        $('.js-is-colored-detail').text(isColoredText);
        $('.js-is-long-sleeved-detail').text(isLongSleevedText);
        $('.js-sides-detail').text(sidesDetailText);
        $('.js-capital-price-detail').text(
          'IDR' + numeral(_designServicePrice.capital_price).format('0,0')
        );
        $('.js-selling-price-detail').text(
          'IDR' + numeral(_designServicePrice.selling_price).format('0,0')
        );
      });
    });

    $('#js-new-sale-form-modal').modal({
      dismissible: false,
      // When modal is opened, focus cursor to quantity input field
      ready: function() { $('.js-quantity-input').focus(); },
      complete: function() {
        // When modal is closed, reset the service detail info
        resetNewSaleFormInputs();
      }
    });

    // Add new sale handler
    $('.js-add-new-sale-btn').on('click', function() {
      var $this = $(this);
      var $customerId = $("select[name='customer-id']").val();
      var $designServicePriceListId = $("select[name='design-service-price-list-id']").val();
      var $quantity = $('.js-quantity-input').val();
      var params = {
        customer_id: $customerId,
        design_service_price_list_id: $designServicePriceListId,
        quantity: $quantity
      };

      if (!$customerId) {
        return swal('Invalid Input', 'Customer cannot be blank', 'error');
      } else if (!$designServicePriceListId) {
        return swal('Invalid Input', 'Design Service cannot be blank', 'error');
      } else if (!$quantity || Number($quantity) == 0) {
        return swal('Invalid Input', 'Quantity must be greater than 0', 'error');
      }

      $.ajax({
        type: 'POST',
        url: '/sales.json',
        data: { sale: params },
        beforeSend: function() {
          $this.html('Adding...');
          $this.attr('disabled', true);
        },
        success: function (_sale) {
          var isColoredValue = '';
          var isLongSleevedValue = '';

          // Reset values when success
          resetNewSaleFormInputs();

          if (_sale.is_colored) {
            isColoredValue = "<i class='material-icons green'>check</i>";
          }

          if (_sale.is_long_sleeved) {
            isLongSleevedValue = "<i class='material-icons green'>check</i>";
          }

          if (_sale.is_front_side && _sale.is_back_side) {
            var sidesValue = '2 Sides';
          } else if (_sale.is_front_side) {
            var sidesValue = 'Front (1 Side)';
          } else if (_sale.is_back_side) {
            var sidesValue = 'Back (1 Side)';
          }

          // Append new sale data to the table body
          $('.js-sale-list').append(
            "<tr>" +
              "<td rowspan='2'>" + _sale.clothes_size_name + "</td>" +
              "<td rowspan='2' class='center-align'>" + isColoredValue + "</td>" +
              "<td rowspan='2' class='center-align'>" + isLongSleevedValue + "</td>" +
              "<td rowspan='2'>" + sidesValue + "</td>" +
              "<td rowspan='2'>" + _sale.customer_name + "</td>" +
              "<td rowspan='2'>" +
                numeral(_sale.capital_price).format('0,0') +
              "</td>" +
              "<td rowspan='2'>" +
                numeral(_sale.selling_price).format('0,0') +
              "</td>" +
              "<td rowspan='2'>" + _sale.quantity + "</td>" +
              "<td rowspan='2'>" +
                numeral((_sale.selling_price - _sale.capital_price) * _sale.quantity).format('0,0') +
              "</td>" +
              "<td>" +
                moment(_sale.created_at).tz('Asia/Jakarta').format('DD MMMM YYYY') +
              "</td>" +
            "</tr>" +
            "<tr>" + "<td>" + _sale.created_by_username + "</td>" + "</tr>"
          );

          // Close modal
          $('#js-new-sale-form-modal').modal('close');

          // Show success notification
          swal('Success', 'New Sale successfully added', 'success');
        },
        error: function (jqXhr) {
          // Show error notification
          swal('Invalid Input', jqXhr.responseJSON.errors[0], 'error');
        }
      }).always(function() {
        // Revert text on add new sale button
        $this.html('Add');
        // Enable Add button
        $this.attr('disabled', false);
      });
    });
    // End of Add sale handler
  });
</script>
