<div id="js-new-clothes-size-form-modal" class="modal modal-fixed-footer">
  <div class="modal-content">
    <h4>Add Clothes Size</h4>

    <div class="field">
      <input type="text" class="js-clothes-size-name-input" placeholder="Size Name (e.g: S, M, L, XL, etc...)" maxlength="250">
    </div>
  </div>
  <div class="modal-footer">
    <button class="waves-effect waves-light btn-flat green accent-4
 js-add-new-clothes-size-btn" disabled>
      Add
    </button>
    <button class="modal-action modal-close waves-effect waves-green btn-flat">
      Close
    </button>
  </div>
</div>
