<% content_for :modals do %>
  <%= render 'add_clothes_size_modal' %>
<% end %>

<div class="row">
  <div class="col s12">
    <button type="button" class="waves-effect waves-light btn js-new-clothes-size-form-modal-btn">
      <i class="material-icons left">add</i> Add Clothes Size
    </button>
  </div>
  <div class="col s12">
    <table class="striped centered responsive-table">
      <thead>
        <tr>
          <th>Size</th>
          <th>Created At</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody class="js-clothes-size-list">
        <% @clothes_sizes.each do |clothes_size| %>
          <tr>
            <td><%= clothes_size.name %></td>
            <td><%= clothes_size.created_at.strftime('%d %B %Y') %></td>
            <td>
              <% if clothes_size.disabled %>
                <div class="switch">
                  <label>
                    Disabled
                    <input type="checkbox" class="js-switcher-status-input" data-size-id="<%= clothes_size.id %>">
                    <span class="lever"></span>
                    Enabled
                  </label>
                </div>
              <% else %>
                <div class="switch">
                  <label>
                    Disabled
                    <input type="checkbox" class="js-switcher-status-input" data-size-id="<%= clothes_size.id %>" checked>
                    <span class="lever"></span>
                    Enabled
                  </label>
                </div>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    'use strict';

    // Button Modal handler
    $('.js-new-clothes-size-form-modal-btn').on('click', function() {
      $('#js-new-clothes-size-form-modal').modal('open');
    });

    $('#js-new-clothes-size-form-modal').modal({
      dismissible: false,
      // When modal is opened, focus cursor to the input field
      ready: function() { $('.js-clothes-size-name-input').focus(); },
      complete: function() {
        // Remove value in the input field when the modal was closed
        $('.js-clothes-size-name-input').val('');
        // Disabled add new clothes size button
        $('.js-add-new-clothes-size-btn').attr('disabled', true);
      }
    });

    // Add clothes size name input handler
    $('.js-clothes-size-name-input').on('keyup', function() {
      var $sizeName = $(this).val();
      var $addNewClothesSizeBtn = $('.js-add-new-clothes-size-btn');

      if ($sizeName === '') {
        $addNewClothesSizeBtn.attr('disabled', true);
      } else {
        $addNewClothesSizeBtn.attr('disabled', false);
      }
    });
    // End of Add clothes size name input handler

    // Add clothes size handler
    $('.js-add-new-clothes-size-btn').on('click', function() {
      var $this = $(this);
      var $sizeNameInput = $('.js-clothes-size-name-input');
      var $sizeName = $sizeNameInput.val();
      var params = { name: $sizeName };

      if ($sizeName === '') {
        swal('Invalid Input', 'Size Name cannot be blank', 'error');
      }

      $.ajax({
        type: 'POST',
        url: '/clothes_sizes',
        data: { clothes_size: params },
        dataType: 'json',
        beforeSend: function() {
          $this.html('Adding...');
          $this.attr('disabled', true);
        },
        success: function (_clothesSize) {
          // Reset value on clothes size name input
          $sizeNameInput.val('');
          // Disable add new clothes size button
          $this.attr('disabled', true);

          // Append new clothes size data to the table body
          $('.js-clothes-size-list').prepend(
            "<tr>" +
              "<td>" + _clothesSize.name + "</td>" +
              "<td>" +
                moment(_clothesSize.created_at).format('DD MMMM YYYY') +
              "</td>" +
            "</tr>"
          );

          // Show success notification
          swal('Updated', 'Clothes Size successfully added', 'success');
        },
        error: function (jqXhr) {
          // Show error notification
          swal('Invalid Input', jqXhr.responseJSON.errors[0], 'error');
          // Enable add new clothes size button
          $this.attr('disabled', false);
        }
      }).always(function() {
        // Revert text on add new clothes size button
        $this.html('Add');
      });
    });
    // End of Add clothes size handler

    // Switch clothes size status handler
    $('.js-switcher-status-input').on('change', function() {
      var $this = $(this);
      var $clothesSizeId = $this.data('size-id');
      var $isEnabled = $this.is(':checked');
      var params = { disabled: !$isEnabled };
      var url = '/clothes_sizes/' + $clothesSizeId + '.json';

      if ($isEnabled) {
        $.ajax({
          type: 'PUT',
          url: url,
          data: { clothes_size: params },
          success: function (_clothesSize) {
            // Show success notification
            swal('Updated', 'Status has been updated', 'success');
          },
          error: function (jqXhr) {
            // Show error notification
            swal('Erorr', jqXhr.responseJSON.errors[0], 'error');
          }
        });
      } else {
        swal({
          text: 'Are you sure you want disable this size?',
          dangerMode: true, icon: 'warning',
          buttons: {
            cancel: {
              text: 'Cancel',
              value: false,
              visible: true,
              closeModal: true,
            },
            confirm: {
              text: 'Disable',
              value: true,
              visible: true,
              closeModal: false
            }
          }
        }).then((isConfirm) => {
          if (isConfirm) {
            $.ajax({
              type: 'PUT',
              url: url,
              data: { clothes_size: params },
              dataType: 'json',
              success: function (_clothesSize) {
                // Show success notification
                swal('Updated', 'Status has been updated', 'success');
              },
              error: function (jqXhr) {
                // Show error notification
                swal('Erorr', jqXhr.responseJSON.errors[0], 'error');
              }
            });
          } else {
            // Reset switcher value
            $this.prop('checked', !$isEnabled);
          }
        });
      }
    });
    // End of Switch clothes size status handler
  });
</script>
