<!-- Dropdown menu structure for Accounts -->
<ul id="account-dropdown-menu" class="dropdown-content">
  <li><a href="#">Change Password</a></li>
  <li class="divider"></li>
  <li><%= link_to 'Log Out', destroy_user_session_path, method: :delete %></li>
</ul>

<nav>
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Sales', sales_path %></li>
      <li><%= link_to 'Service Price List', design_service_price_lists_path %></li>
      <li><%= link_to 'Clothes Sizes', clothes_sizes_path %></li>
      <li><%= link_to 'Customers', customers_path %></li>

      <% if current_user.role == Role.admin %>
        <li><%= link_to 'Add Member', new_registration_path %></li>
      <% end %>

      <li><a class="dropdown-button" href="javascript:void(0);" data-activates="account-dropdown-menu">Account<i class="material-icons right">person</i></a></li>
    </ul>
    <a href="#" class="brand-logo left">Logo</a>
  </div>
</nav>

<script type="text/javascript" charset="utf-8">
  $(document).ready(function() {
    'use strict';

    $('.dropdown-button').dropdown();
  });
</script>
